PORT=3000
JWT_SECRET=change-in-production
ENTRA_CLIENT_ID=993fb07a-161e-452f-9081-f2db2e6b5930
ENTRA_TENANT_ID=a96476fa-ab5b-4694-88e2-5843ab149973
JWT_ISSUER=
API_AUDIENCE=
API_REQUIRED_SCOPE=
DIRECTORY_SERVICE_URL=http://localhost:3001
BOOKING_SERVICE_URL=http://localhost:3003
RECOMMENDATION_SERVICE_URL=http://localhost:3004
