VITE_ENTRA_CLIENT_ID=993fb07a-161e-452f-9081-f2db2e6b5930
VITE_ENTRA_TENANT_ID=a96476fa-ab5b-4694-88e2-5843ab149973
VITE_ENTRA_AUTHORITY=https://login.microsoftonline.com/a96476fa-ab5b-4694-88e2-5843ab149973
VITE_ENTRA_REDIRECT_URI=http://localhost:5173
VITE_ENTRA_POST_LOGOUT_REDIRECT_URI=http://localhost:5173
VITE_ENTRA_SCOPES=
VITE_API_BASE_URL=/api/v1
